:host{
    --bg-color: rgb(161, 161, 226);
}
.container{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-color: var(--bg-color);

    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.created {
    color: rgba(0, 0, 0, 0.568);
    text-align: right;
    font-size: 12px;
    margin-top: 20px;
}

@media (max-width: 500px){
    .container{
        padding-top: 10px;
    }
}

@media (max-width: 280px){
    .container{
        padding-top: 50px;
    }
}